main{
    background-color: $color-header;
/*first section*/
}
main section h2{
  color: $color-suptitle;
  padding-left:12px;
  padding-top:30px;
  padding-bottom:16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 3;

}
main section h3{
  color:$color-title-section;
  padding-left:12px;
  font-family: "Roboto Slab";
  font-size: 22px;
  line-height: 0;
  padding-bottom: 22px;
}
main section p{
    padding-left:12px;
    padding-bottom:42px;
    width: 90%;
    color:$color-secondary-text;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.67;
}
.shop-button{
    background-color: $background-section-1;
    border-radius:22.5px;
    border: 3px solid;
    font-size: 20px;
    color:$background-color-boton;
    width: 165px; 
    height: 45px;
    padding:5px;
    border-color:$background-color-boton;
}
.container{
padding-left:12px;
padding-bottom:40px;
}
/*second section*/
.back-to-school{
  background-color:$background-color-vueltalcole;
}
.h4{
  padding-top:20px;
  text-align: center;
  font-family: "Roboto Slab";
  color:rgb(116, 112, 112);
}
.h5{
  text-align: center;
  font-family: "Roboto Slab";
  font-size:20px;
  padding-bottom:20px;
}
.card{
  display:grid;
}
.Empezar-ahora{
  display: block;
  color:$color-header;
  font-family:"Roboto", sans-serif;
  margin: 20px auto;
  font-size:20px;
  border-radius:100px
  background-color:$background-color-boton;
.button3{
  
}
  
}
.card{
  img{
    width:64px;
    height:64px;
  }
}