<link rel="headerstylesheet" href="../scss/layout/_header.scss" />
<link rel="herostylesheet" href="../scss/layout/_hero.scss" />
<link rel="footerstylesheet" href="../scss/layout/_footer.scss" />

<main>
    <section class="store-section">
        <h2>HISTORIAS, MODA Y ROPA DEPORTIVA</h2>
        <h3>TU TIENDA DE DEPORTE</h3>
        <p>El deporte nos mantiene en forma.Nos mantiene alerta.Nuestra ropa deportiva para hombre y mujer te ofrece las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal</p>
        <button class="shop-button">Comprar</button>
    </section>
    <section class="back-to-school">
        <h4>Prepárate con tus marcas favoritas</h4>
        <h5>VUELTA AL COLE</h5>
        <div class="back-to-school-cards">
            <div class="card">
                <img src="/images/lpbts-mod05-img01-desk.png">
                <h6>Mochilas esoclares</h6>
            </div>
            <div class="card">
                <img src="/images/lpbts-mod05-img04-mob.png">
                <h7>Estuches</h7>
            </div>
            <div class="card">
                <img src="/images/lpbts-mod05-img03-mob.png">
                <h8>Bolsas de deporte</h8>
            </div>
        </div>
        <button>Empezar ahora</button>
    </section>
</main>